################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MDLd/bin/Debug
/MDLd/obj/x86/Debug
/MDLFileReaderWriter.MDLFile/bin/Debug
/MDLFileReaderWriter.MDLFile/obj/Debug
/TestMDLFileLoad/bin/Debug
/TestMDLFileLoad/obj/Debug
/MDLFileReaderWriter.v12.suo
/MDLd/bin/Release
/MDLd/obj/x86/Release
/MDLFileReaderWriter.MDLFile/bin/Release
/MDLFileReaderWriter.MDLFile/obj/Release
/TestMDLFileLoad/obj/Release
